.cart {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  
  .cart h2 {
    margin-bottom: 10px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart ul li img {
    max-width: 50px;
    margin-right: 10px;
  }